* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ratings-and-buttons {
    max-width: 800px;;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 400px;
}

.collection {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.image {
    box-sizing: border-box;
    width: calc(200px - 10px);
    height: calc(200px - 10px);
    margin: 5px;
    background-size: cover;
    border: 1px solid red;
}

.big-img {
    background-size: cover;
    width: 400px;
    height: 400px;
    margin: 10px;
}

.inf .image:nth-of-type(1) {
    border-top-right-radius: 20px;
}