/* IMMAGINE PRINCIPALE */
#home-img {
  background-image: url("assets/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
}

/* NAVBAR */
#logo {
  width: 30%;
}

/* Links */
#nav-links,
.bi-search,
h1 {
  color: white;
}

#nav-links,
#burger-links {
  text-decoration: none;
}

/* Burger button */
#burger {
  width: 12%;
  height: 45%;
}

#burger,
#search-bar {
  background-color: white;
}

#burger,
#search-bar,
#search-btn {
  border-radius: 50px;
}

#burger-links {
  color: black;
}

/* BARRA DI RICERCA */
#search-bar {
  width: 50%;
  height: 100%;
}

/* DESKTOP */

/* Titolo */
h5 {
  font-size: 12px;
  margin-bottom: 0;
}

/* Impostazioni campi di testo e calendari */
input[type="date"] {
  color: #757575;
}

input[type="text"],
input[type="date"] {
  background-color: transparent;
}

input[type="text"],
input[type="date"],
#search-btn {
  border: none;
}

input[type="text"]:focus,
input[type="date"]:focus {
  outline: none;
}

input[type="text"]::placeholder,
input[type="date"] {
  font-size: small;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: large;
}

/* Bottone cerca */
#search-btn {
  background-color: #e41d56;
  border: none;
  height: 45px;
  width: 45px;
}

/* TABLET */

.bi-geo-alt-fill,
.bi-calendar2-event-fill,
.bi-calendar-week-fill,
.bi-person-fill-add {
  font-size: 24px;
}

#search-btn-mobile {
  background-color: #e41d56;
  border: none;
  border-radius: 0 50px 50px 0;
  width: 100%;
  height: 100%;
}

/* TITOLO */
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 100px;
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 75px;
  }
}

/* TASTO ESPLORA */
#explore-btn {
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  #explore-btn {
    font-size: 14px;
  }
}