/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FLEXBOX */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-justify {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-align {
  align-items: center;
}

/* UTILITIES */
.color-white {
  color: white;
}

/* IMPOSTAZIONI PAGINA */
body {
  background-color: rgb(25, 25, 25);
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

/* IMMAGINE HOME */
.home-img {
  background-image: url('../assets/home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  color: #fff;
}

/* NAVBAR */
nav {
  background-color: transparent;
  height: 7%;
  width: 100%;
}

#logo-img,
#logo-img img {
  height: 100%;
}

nav a {
  text-decoration: none;
}

#nav-links {
  width: 35%;
}

#nav-links-2 {
  width: 15%;
}

#burger {
  background-color: white;
  border-radius: 50px;
  width: 25%;
  padding: 5px;
}

#burger a {
  color: rgb(98, 98, 98);
  font-size: larger;
}

/* CONTENITORE CORPO DELLA PAGINA */
.container {
  height: 93%;
  width: 80%;
  margin: 0 auto;
}

/* BARRA DI RICERCA */
.search {
  background-color: white;
  border-radius: 50px;
  height: 8%;
  width: 60%;
  margin-top: 1%;
  color: black;
}

#location,
#guests {
  width: 25%;
}

#check-in,
#check-out {
  width: 20%;
  padding: 1% 1% 1% 1%;
}

#location {
  padding: 1% 0 1% 2%;
}

#guests {
  padding: 1% 2% 1% 1%;
}

#location input,
#check-in input,
#check-out input,
#guests input {
  height: 60%;
  width: 100%;
  border: none;
}

#search-btn-container {
  height: 100%;
  width: 10%;
}

#search-btn {
  background-color: rgb(228, 29, 86);
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

#search-icon {
  color: white;
}